<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>DjangoRocket</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="{% static "sb-admin-2.css" %}" rel="stylesheet">
    <link href="{% static "gradient.css" %}" rel="stylesheet">
    <link href="{% static "jquery-ui.min.css" %}" rel="stylesheet">
    <link href="{% static "jquery-ui.structure.min.css" %}" rel="stylesheet">
    <link href="{% static "jquery-ui.theme.min.css" %}" rel="stylesheet">
    <link href="{% static "font-awesome.min.css" %}" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
    </style>
</head>

<body>

    
    <div id="wrapper">

        <!-- Navigation -->
        <nav class="gradient navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            {% include 'navbar.html' %}
            <!-- /.navbar-top-links -->
            <!-- /.navbar-static-side -->
        </nav>
        <div class="col-md-1"></div>
        <div class="col-md-10">
        {% block 'main_content' %}
        {% endblock %}
        </div>
        <div class="col-md-1"></div>
    </div>
    
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="{% static "jquery.min.js" %}"></script>
    <script src="{% static "jquery-ui.min.js" %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static "bootstrap.min.js" %}"></script>


    {% block 'js_script' %}
    {% endblock %}


</body>

</html>