{% extends 'main_site_no_sidebar.html' %}
{% load bootstrap %}
{% load static %}
{% load i18n %}
{% block 'main_content' %}
    <br />
    <div class="panel panel-default">
        <div class="panel-heading" style="color: white">
            <span style="color:green">{% trans "Set your new password" %}</span>
        </div>
        <div class="panel-body">
            <div class="col-md-4">
                <form method="POST" action="{% url "account:account_password_reset_token" uidb36=uidb36 token=token %}">
                    {% csrf_token %}
                    {{ form|bootstrap }}
                    <button type="submit" class="btn btn-primary gradient">{% trans "Save" %}</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}