{% extends 'main_site_no_sidebar.html' %}
{% load bootstrap %}
{% load static %}
{% load i18n %}
{% block 'main_content' %}
    <br />
    <div class="panel panel-default">
        <div class="panel-heading" style="color: white">
            <span style="color:green">{% trans "Bad token" %}</span>
        </div>
        <div class="panel-body">
            <div class="col-md-4">
    			{% url "account:account_password_reset" as url %}
    			<p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ url }}">new password reset</a>.{% endblocktrans %}</p>
    		</div>
    	</div>
    </div>
{% endblock %}
