{% extends 'main_site_no_sidebar.html' %}
{% load bootstrap %}
{% load static %}
{% load i18n %}
{% block 'main_content' %}
    <br />
    <div class="panel panel-default">
        <div class="panel-heading" style="color: white">
            <span style="color:green">{% trans "Password reset sent" %}</span>
        </div>
        <div class="panel-body">
            <div class="col-md-4">
                {% if not resend %}
                    <p>{% blocktrans %}We have sent you an email. If you do not receive it within a few minutes, try resending or contact us at <a href="mailto:{{ THEME_CONTACT_EMAIL }}">{{ THEME_CONTACT_EMAIL }}</a>.{% endblocktrans %}</p>
                {% else %}
                    <p>{% blocktrans %}We have resent the password email. If you do not receive it within a few minutes, contact us at <a href="mailto:{{ THEME_CONTACT_EMAIL }}">{{ THEME_CONTACT_EMAIL }}</a>.{% endblocktrans %}</p>
                {% endif %}
                <form method="POST" action="{% url "account:account_password_reset" %}">
                    {% csrf_token %}
                    {% for field in form %}
                        {{ field.as_hidden }}
                    {% endfor %}
                    <button type="submit" name="resend" class="btn btn-primary gradient">{% trans "Resend" %}</button>
                </form>
            </div>
        </div>
    </div>
    
{% endblock %}